header #TechMinds_logo{
    float: left;
    padding: 10px;
    padding-left: 50px;
    position: absolute;
    }

header nav{
    float: right;
    margin-top: 10px;
    padding: auto;
    font-size: 20px;
    color: rgba(77, 154, 220, 1);
    position: absolute;
	  border-radius: 10px;
    background-color: #fdfdfd;
    padding: 10px;
    
}
 
nav a {
    /* Add a 3D effect on hover */
    transition: all 0.2s ease-in-out;
    transform-style: preserve-3d;
    color: rgba(77, 154, 220, 1);
  }

 nav #icons{
  padding-right: 5px;
 } 
  
  
  
  .navbar-nav .nav-link {
    color: rgba(77, 154, 220, 1);
  }

  /* #home-slider{
    background-size: cover;
    max-width: 100%;
    max-height: 800px;
    overflow: hidden;
    padding: 0%;
    
  } */

  #home-slider {
    position: relative;
    overflow: hidden;
    padding: 0%;
  }
  
  #home-slider .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
    position: relative;
    
  }

  #home-slider .caption {
    position: absolute;
    top: 50%;
    
    z-index: 1;
    color: white;
  }
  
  #home-slider .caption h1 {
    font-size: 40px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Adjust the spacing as needed */
  }
  
  #home-slider .caption p {
    font-size: 20px; /* Adjust the font size as needed */
  }
  #footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(77, 154, 220, 1);
    color: white;
    padding: 20px 0;
  }

  #footer .row {
    justify-content: center;
  }

  #footer .footer-navbar,
#footer .footer-logo,
#footer .social-icons {
  text-align: center;
}

  footer .footer-navbar{
    padding-left: 90px;
    align-items: center;
    
  }

  footer .footer-navbar #icons{
    padding-right: 5px;
  }

  footer .navbar-nav .nav-link {
    color: rgb(236, 238, 239);
  }

  footer .footer-logo{
    padding-left: 30px;
    padding-right: 30px;
  }
  footer .social-icons{
    padding-right: 90px;
  }
  footer #icons{
    color:#fdfdfd;
    padding-right: 10px;
  }

  @media (max-width: 768px) {
    nav a {
        /* Add a 3D effect on hover */
        transition: all 0.2s ease-in-out;
        transform-style: preserve-3d;
        color: rgba(77, 154, 220, 1);
      }

      
      .navbar-nav .nav-link {
        color: rgba(77, 154, 220, 1);
      }
    /* Hide the navigation links */
    .navbar-nav {
      display: none;
    }
    
    /* Show the burger icon */
    .navbar-toggler {
      display: block;
    }
    
    /* Set the background color of the burger icon */
    /* .navbar-toggler-icon {
      background-color: #f8f9fa;
    } */
    
    /* Show the navigation links when the burger icon is clicked */
    .navbar-collapse.show .navbar-nav {
      display: block;
    }
  }
  