main {
  padding: 20px;
  margin: 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card {
  width: 450px;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.service-card:hover {
  transform: translateY(-15px);
}

.img-back {
  height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
}

.img-size {
  width: 100%;
  height: auto;
  
}


.service-card:hover{
 background-color: rgba(200, 229, 255, 0.24)
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.para-width {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
}
@media only screen and (max-width: 1000px) {
  .service-card {
  width: auto;
  height: auto;
  }
}